{% extends 'base.html.twig' %}

{% block stylesheets %}
    {% include 'renav.html.twig' %}
{% endblock %}

{% block title %}Voyage index{% endblock %}


{% block body %}
<div class="container mt-5">
    <h1>Voyage index</h1>

    <p>Vous ne trouvez pas votre bonheur ? Pourquoi ne pas <a style="text-decoration: underline;" href="{{ path('voyage_new') }}">plannifier un voyage</a> ?</p>
    <table class="table text-center">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Date de départ</th>
                <th>Date de retour</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for voyage in voyages %}
            <tr>
                <td>{{ voyage.title }}</td>
                <td>{{ voyage.description }}</td>
                <td>{{ voyage.startingDate ? voyage.startingDate|date('d-m-Y') : '' }}</td>
                <td>{{ voyage.endingDate ? voyage.endingDate|date('d-m-Y') : '' }}</td>
                <td>
                    <a class="btn deep-orange text-white" href="{{ path('voyage_show', {'id': voyage.id}) }}">Voir</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}