{% extends 'base.html.twig' %}

{% block title %}Voyage{% endblock %}

{% block stylesheets %}
    {% include 'renav.html.twig' %}
{% endblock %}


{% block body %}
    <h1>Voyage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ voyage.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ voyage.description }}</td>
            </tr>
            <tr>
                <th>Date de départ</th>
                <td>{{ voyage.startingDate ? voyage.startingDate|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Date de retour</th>
                <td>{{ voyage.endingDate ? voyage.endingDate|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Nombre de Participants</th>
                <td>{{ nbr_participants }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('voyage_index') }}">back to list</a>
    {% if canEdit is defined %}
        <a href="{{ path('voyage_edit', {'id': voyage.id}) }}">edit</a>

        {{ include('voyage/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
